<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd 
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">
	<context:property-placeholder location="classpath:spring.properties"/>
	<!-- Define your beans here -->

	<!-- define the dependency -->
	<!--<bean id="myDietService"
		class="com.techlabs.SpringDemo.AthleteDiet">
	</bean>-->

	<bean id="CricketCoach" class="com.aurionpro.model.CricketCoach" init-method="initMethod" destroy-method="destroy" ><!--// prototype will return everytime new object-->
		<property name="name" value="${name}"></property>
		<property name="email" value="prathamesh@gmail.com"></property>
	</bean>
	<bean id="BasketBallCoach" class="com.aurionpro.model.BasketBallCoach">
		<property name="diet" ref="sportsDiet"></property>
	</bean>
	<bean id="weightLoss" class="com.aurionpro.model.WeightLoss"> </bean>
	<bean id="sportsDiet" class="com.aurionpro.model.SportsDiet"> </bean>


	<!--<bean 
		id="myCoach" class="com.techlabs.SpringDemo.TrackCoach">
		<constructor-arg ref="myDietService"></constructor-arg>
	</bean>
-->

</beans>